<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpkl.ServiceLogin_mybatis.myMapper">
	<!-- 전체 글 목록 가져오기 기능 -->
	<select id="listAll" resultType="login_chk">
		select * from Travelers where id=#{id}
	</select>
</mapper>
